.homepage .static_frame {
  width: 100%;
  background: #2c261e;
}

.homepage .personal_img_left {
  /* display: block; */
  width: 204px;
  height: 200px;
  background: url("/public/homeImg/stat_papay.png");
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-size: cover;
}
.homepage .personal_img_right{
  width: 204px;
  height: 200px;
  background: url("/public/homeImg/stat_papay.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .static_box .static_num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  text-align: center;
  color: #fff;
}

.homepage .static_box .static_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #e3c08d;
}

/* TOP RESTAURANT COMPONENT STYLE */
.homepage .top_restaurant_frame {
  display: flex;
  width: 100%;
  height: 605px;
  background: #0b0e11;
}

.homepage .top-restaurant_stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.homepage .category_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #e3c08d;
}

.homepage .top_restaurants_card-wrapper {
  display: flex;
  flex-direction: row;
  margin: 16px;
  margin-top: 43px;
}

.homepage .top_restaurants_card {
  min-width: 325px;
  min-height: 430px;
  margin-right: 35px;
  cursor: pointer;
}

.homepage .top_restaurant_cardoverflow {
  display: flex;
  gap: 1.5;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid;
  padding-left: "var(--Card-padding";
  padding-right: "var(--Card-padding";
}

.homepage .top_restaurant_like-button {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  right: 1rem;
  bottom: 45;
  transform: translateY(50%);
  color: rgba(0, 0, 0, .4);
}


/* BEST RESTAURANT COMPONENT */
.homepage .best_restaurant_frame {
  display: flex;
  width: 100%;
  height: 702px;
  background: #0b0e11;
  margin: 0;
  padding: 0;
}

.homepage .best_restaurant_like-button {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  right: 1rem;
  transform: translateY(50%);
  color: rgba(0, 0, 0, .4);
}

.homepage .best_restaurant-card_img {
  display: block;
  width: 318px;
  background-size: cover;
  background-position: center;
}